$darkblue = #062D8A;
$lightgrey = #AEAEAE;

body
  background-color: $lightgrey;
  color: $darkblue;

.panel{
  margin-top: 25px;
}

.jumbotron{
  margin-top: 25px;

}

.panel-heading{
  background-color: $darkblue;
  color: $lightgrey;
}
.panel-body{
  color: $darkblue;
}

img{
  border-radius: 3px;
}
