$darkblue = #3073AC;
$lightgrey = #AEAEAE;

body
  background-color: $lightgrey;
  color: $darkblue;
  font-family: 'Merriweather Sans', sans-serif;

.panel{
  margin-top: 25px;
}

.jumbotron{
  margin-top: 25px;

}

.panel-heading{
  background-color: $darkblue;
  color: $lightgrey;
}
.panel-body{
  color: $darkblue;
}

img{
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}

.center-text{
  text-align: center;
}

.netflix-disclaimer{
  font-size: 10px;
}

.about-content{
  font-size: 10px;
  margin-top: 25px;
  a{
    text-decoration: underline;
  }
}

.title{
  font-family: 'Oswald', sans-serif;
}

.title-img{
  width: 100px;
}

footer{
  color: #fff;
  margin-bottom:15px;
  a{
    color: #fff;
    text-decoration: underline;
  }
}
