body {
  background-color: #aeaeae;
  color: #062d8a;
}
.panel {
  margin-top: 25px;
}
.jumbotron {
  margin-top: 25px;
}
.panel-heading {
  background-color: #062d8a;
  color: #aeaeae;
}
.panel-body {
  color: #062d8a;
}
img {
  border-radius: 3px;
}
