<div class="container-fluid" ng-controller="MoviesCtrl">
  <div class="jumbotron">
    <h1>Movie Info</h1>
    <p>Search some movies...</p>
    <form>
      <div class="form-group">
        <label for="movieSearch">Search a movie: </label>
        <input ng-model="name" type="text" class="form-control" id="movieSearch" placeholder="Search Any Movie...">
      </div>
      <button class="btn btn-lg btn-primary center-block" type="submit" ng-click="getMovieByName(movieSearch)">Search</button>
    </form>
  </div>

  <div ng-if="title" class="panel panel-primary">

    <div class="panel-heading">
      <h2 class="text-center" ng-if="title">{{title}}</h2>
    </div>

    <div class="panel-body">

      <div class="row">

        <div class="col-md-6" ng-if="title">

          <div>
            <img class="img-responsive center-block" ng-src={{img}}>

          </div>
        </div>

        <div class="col-md-6" ng-if="title">
          <div class="well">
            <h6>Or did you mean...</h6>
            <div ng-repeat="result in results">
              <a ng-hide="sameId(result.imdbID)" ng-click="getMovieById(result.imdbID);">
            {{result.Title}}</a>
            </div>
          </div>



          <a href="#/description">
            <button class="btn btn-primary btn-lg center-block">Get Information</button>
          </a>
        </div>



      </div>
    </div>


  </div>


</div>
